@model MySelf.WebClient.Models.DiaryViewModel
<div data-ng-app="friendlogApp">
    <span ng-show="loading">loading</span>
    <input type="hidden" id="link" ng-model="link" value="@Model.Link" />
    <div ng-controller="NewFriendController">
        <ul class="nav nav-pills">
            <li data-ng-repeat="report in reports" data-ng-class="(report.val == selectedreport.val && 'active')">
                <a href data-ng-click="setReport(report.val)">{{ report.name }}</a>
            </li>
            <li><a href="#">Month</a></li>
            <li><a href="#">Year</a></li>
        </ul>
        <article>
            <div id="diaryGraph" style="width: 98%; height: 400px; float: left; margin-right: 5px"></div>
        </article>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/friendlog")
}
