<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myselflog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>myselflog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myselflog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$myselflog</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DiabDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:h7d0wo76ck.database.windows.net,1433;Initial Catalog=myselflog_db;User ID=riccardone@h7d0wo76ck;Password=Gnaffo70" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MySelf.Diab.Data.DiabDbContext, MySelf.Diab.Data" MigrationConfiguration="MySelf.Diab.Data.Migrations.Configuration, MySelf.Diab.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DiabDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h7d0wo76ck.database.windows.net,1433;Initial Catalog=myselflog_db;User ID=riccardone@h7d0wo76ck;Password=Gnaffo70</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>