<div class="container">
    <header>
        <h2 class="alt">{{profile.name}}</h2>
    </header>
    <ul class="nav nav-pills" style="float: left">
        <li data-ng-repeat="report in reports" data-ng-class="(report.name == selectedreport.name && 'active')">
            <a href data-ng-click="setReport(report)">{{ report.name }}</a>
        </li>
    </ul>
    <div></div>
    <h3>{{selectedreport.description}}
    </h3>
    <button type="button" class="btn btn-default" data-ng-click="previous()">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <button type="button" class="btn btn-default" data-ng-click="next()">
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
    <div id="diaryGraph"></div>
    <footer>
        <span>average {{getAverage()}}</span>
    </footer>
</div>
