<article class="is-post is-post-excerpt">
    <header>
        <h2>{{selectedprofile.name}}</h2>
        <!--<span class="byline">...</span>-->
    </header>
    <form name="logForm" class="css-form">
        <input type="number" min="1" max="800" name="value" required data-ng-model="item.value" placeholder="Type a numeric value" />
        <textarea data-ng-model="item.message" placeholder="Type a message (optional)"></textarea>
        <input type="text" ng-model="item.logDate" placeholder="Select a date and time" />
        <input type="hidden" data-ng-model="item.selectedProfileId" value="selectedprofile.globalid" />
        <button id="Button1" name="btnSubmit" ng-click="addValue()" class="btn btn-primary">Submit</button>
    </form>
    <div id="diaryGraph"></div>
</article>
