<script type="text/ng-template" id="mySendInviteModalContent.html">
    <div class="modal-header">
        <h3>Send an invite to a friend</h3>
    </div>
    <div class="modal-body">
        <p>Press "send" button to send an invite to share with your friend your logged values. No other informations then values will be shared.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Send</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="container">
    <header>
        <h2 class="alt">{{selectedprofile.name}}</h2>
    </header>
    <form name="logForm">
        <div class="row">
            <div class="col-md-12">
                <input type="number" min="1" max="800" name="value" data-ng-model="item.value" placeholder="Type a numeric value" style="height: 30px; width: 250px" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="number" min="0" max="200" name="slowvalue" data-ng-model="item.slowvalue" placeholder="SLOW terapy number" style="height: 30px; width: 150px" />
            </div>
            <div class="col-md-6">
                <input type="number" min="0" max="200" name="fastvalue" data-ng-model="item.fastvalue" placeholder="FAST terapy number" style="height: 30px; width: 150px" />
            </div>
        </div>
        <div class="row">
            <!--<div class="col-md-6">
                <label class="fooditems" ng-repeat="foodType in foodTypes">
                    <input type="checkbox" ng-model="item.foodTypes[foodType]">
                    <img ng-src="../FoodTypes/{{foodType}}.png" alt="{{foodType}}" />
                </label>
            </div>-->
            <div class="col-md-12">
                <input type="number" min="0" max="1000" name="calories" data-ng-model="item.calories" placeholder="Calories" style="height: 30px; width: 150px" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button id="btnSubmit" name="btnSubmit" ng-click="addValue()" ng-disabled="loading" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-6">
                <button id="btnReset" name="btnReset" ng-click="resetItem()" ng-disabled="loading" class="btn btn-warning">Reset</button>
            </div>
            </div>
        <input type="hidden" data-ng-model="item.selectedProfileId" value="selectedprofile.globalid" />
    </form>
    {{active()}}
    <p><a ng-href="../{{selectedprofile.securitylink}}" target="blank">{{selectedprofile.securitylink}}</a></p>
    <footer></footer>
</div>
