@section scripts {
    @if (@User.Identity.IsAuthenticated)
    {
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/myselflog")
    }
}
@if (@User.Identity.IsAuthenticated)
{
    <p>hello mobile</p>
    <div data-ng-app="myselflogApp">
        <div data-ng-view></div>
    </div>
} 